body,h1,h2,h3,h4,h5,h6 {font-family: "Arial", sans-serif}
body, html {
	height: 100%;
	line-height: 1.7;
}
.w3-navbar li a {
	padding: 16px;
	float: left;
}
/* Full height image header */
.bgimg-1 {
	background-position: center;
	background-size: cover;
	background-image: url("../../assets/images/ball.JPG");
	min-height: 100%;
}
.w3-padding-top
{
	padding-top: 64px;
}
.width-225
{
	width: 225px;
}
.margin-main-top{
	margin-top: 128px;
}