<!-- About | Bio Section here -->

<div class="w3-row-padding w3-center w3-padding-64" id="bio">
	<h3 class="w3-center">ABOUT THE JORGE</h3>
	<p class="w3-center w3-large">Key features of THE JORGE LOPEZ</p>
	
	<div class="w3-quarter">
		<i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
		<p class="w3-large">Responsive</p>
		<p>Quickly able to adapt to your organizational needs. Jorge has 21 years of Information Technology experience working in a variety of organizational sizes or types.</p>
	</div>
	<div class="w3-quarter">
		<i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
		<p class="w3-large">Passion</p>
		<p>Jorge has a passion to learn and continue learning. At age 39 he decided to go back to school to continue advancing in Information Technology spanning 21 years.</p>
	</div>
	<div class="w3-quarter">
		<i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
		<p class="w3-large">Design</p>
		<p>Full Stack Web Development using Ruby on WordPress, Rails, NodeJS, Angular, or Ionic. The list keeps growing. Please stay tuned...</p>
	</div>
	<div class="w3-quarter">
		<i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
		<p class="w3-large">Support</p>
		<p>Offers support for peers and clients. Jorge's ability to work with people from all walks of life has given him an empathic pragmatic approach to customer service.</p>
	</div>
</div>
<div class="w3-container w3-white">
	<p><a href="#home" class="w3-btn w3-padding-medium w3-medium">Back to Top</a></p>
</div>
