<div class="w3-col s12 m12 l12 w3-display-middle w3-container w3-padding-xlarge">
	<!-- About | Education Section here -->
		<div class="w3-row-padding w3-light-grey w3-padding-64" id="education">
			<div class="w3-col m6">
				<h3>Education Path</h3>
				<p>A brief overview of the path to graduation.</p>
				<p>These are the skills and tools presently being learned and applied:</p>
			</div>
			<div class="w3-col m6">
				<p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>Front End Development</p>
				<div class="w3-progress-container w3-grey">
					<div class="w3-progressbar w3-dark-grey" style="width:90%"></div>
				</div>
				<p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>Full Stack Development</p>
				<div class="w3-progress-container w3-grey">
					<div class="w3-progressbar w3-dark-grey" style="width:80%"></div>
				</div>
				<p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Mobile Web Development</p>
				<div class="w3-progress-container w3-grey">
					<div class="w3-progressbar w3-dark-grey" style="width:65%"></div>
				</div>
				<p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Hybrid Mobile App Development</p>
				<div class="w3-progress-container w3-grey">
					<div class="w3-progressbar w3-dark-grey" style="width:60%"></div>
				</div>
				<p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Ruby on Rails</p>
				<div class="w3-progress-container w3-grey">
					<div class="w3-progressbar w3-dark-grey" style="width:75%"></div>
				</div>
				<p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>AngularJS</p>
				<div class="w3-progress-container w3-grey">
					<div class="w3-progressbar w3-dark-grey" style="width:45%"></div>
				</div>
				<p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Cordova/Ionic</p>
				<div class="w3-progress-container w3-grey">
					<div class="w3-progressbar w3-dark-grey" style="width:45%"></div>
				</div>
			</div>
		</div>
	
	<div class="w3-row-padding w3-light-gray">
		<p><a href="#home" class="w3-btn w3-padding-medium w3-medium">Back to Top</a></p>
	</div>
</div>