<div class="w3-display-left w3-padding-xlarge">
	<span class="w3-xlarge w3-hide-small" style="margin-left: 3px; color: #FFF;">Aspiring Web Developer</span><br>
	<span class="w3-large w3-hide-small" style="margin-left: 3px; color: #FFF;">Proven In Information Technology</span><br>
	<span class="w3-large w3-hide-small" style="margin-left: 3px; color: #FFF;">Proven Leadership</span><br>
	<span class="w3-large w3-hide-small" style="margin-left: 3px; color: #FFF;">Proven Client Facing</span>
	<span class="w3-large w3-hide-medium w3-hide-large" style="margin-left: 3px; color: #FFF;">Proven IT Professional</span>
	<p><a href="#bio" class="w3-btn w3-padding-large w3-medium width-225">Responsive To Your Needs</a></p>
	<p><a href="#/edu" class="w3-btn w3-padding-large w3-medium width-225">Education Overview</a></p>
	<p><a href="#jlopez-resume" class="w3-btn w3-padding-large w3-medium width-225">View Work and Experience</a></p>
	<p><a href="#code" class="w3-btn w3-padding-large w3-medium width-225">Code Samples</a></p>
</div>
