<!-- Promotional Section here -->

<!-- Promo | Resume Section -->
<div class="w3-container w3-padding-64" id="jlopez-resume">
	<h3 class="w3-center">RESUME</h3>
	
	<div class="w3-row-padding w3-grayscale" style="margin-top:64px">
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Dawakhuu (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AResume_logo.jpeg">
					<img width="64" alt="Resume logo"
					     src="https://upload.wikimedia.org/wikipedia/commons/9/90/Resume_logo.jpeg"/></a>
				<!-- img src="/w3images/team2.jpg" alt="John" style="width:100%" -->
				<div class="w3-container">
					<h3>Resume Section 1</h3>
					<p class="w3-opacity">Summary</p>
					<p></p>
					<p><button class="w3-btn-block">See More</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Dawakhuu (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AResume_logo.jpeg">
					<img width="64" alt="Resume logo"
					     src="https://upload.wikimedia.org/wikipedia/commons/9/90/Resume_logo.jpeg"/></a>
				<!-- img src="/w3images/team1.jpg" alt="Jane" style="width:100%" -->
				<div class="w3-container">
					<h3>Resume Section 2</h3>
					<p class="w3-opacity">Work Experience</p>
					<p></p>
					<p><button class="w3-btn-block">See More</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Dawakhuu (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AResume_logo.jpeg">
					<img width="64" alt="Resume logo" src="https://upload.wikimedia.org/wikipedia/commons/9/90/Resume_logo.jpeg"/></a>
				<!-- img src="/w3images/team3.jpg" alt="Mike" style="width:100%" -->
				<div class="w3-container">
					<h3>Resume Section 3</h3>
					<p class="w3-opacity">Tech Skills</p>
					<p></p>
					<p><button class="w3-btn-block">See More</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Dawakhuu (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AResume_logo.jpeg">
					<img width="64" alt="Resume logo"
					     src="https://upload.wikimedia.org/wikipedia/commons/9/90/Resume_logo.jpeg"/></a>
				<!-- img src="/w3images/team4.jpg" alt="Dan" style="width:100%" -->
				<div class="w3-container">
					<h3>Resume Section 4</h3>
					<p class="w3-opacity">Contracting</p>
					<p></p>
					<p><button class="w3-btn-block">See More</button></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="w3-container w3-white">
	<p><a href="#home" class="w3-btn w3-padding-medium w3-medium">Back to Top</a></p>
</div>

<!-- Promo | Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64" id="skills">
	<div class="w3-row-padding">
		<div class="w3-col m6">
			<h3>Skills Learned</h3>
			<p>A brief overview of the skills learned through experience.</p>
			<p>Skills and tools presently applied:</p>
		</div>
		<div class="w3-col m6">
			
			<p class="w3-wide"><i class="fa fa-html5 w3-margin-right"></i>HTML 5/CSS/JS </p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:95%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-chain w3-margin-right"></i>Information Assurance</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:90%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-code w3-margin-right"></i>Bootstrap</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:85%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-html5 w3-margin-right"></i>jQuery</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:75%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-code w3-margin-right"></i>Ruby on Rails</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:75%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-html5 w3-margin-right"></i>Agile Web Development</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:50%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-database w3-margin-right"></i>MySQL</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:50%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-database w3-margin-right"></i>Embedded SQLite3 for Mobile devices</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:40%"></div>
			</div>
			
			<p class="w3-wide"><i class="fa fa-code w3-margin-right"></i>AngularJS</p>
			<div class="w3-progress-container w3-grey">
				<div class="w3-progressbar w3-dark-grey" style="width:35%"></div>
			</div>
		</div>
	</div>
</div>
<div class="w3-container w3-light-gray">
	<p><a href="#home" class="w3-btn w3-padding-medium w3-medium">Back to Top</a></p>
</div>


<!-- Promo | Code Section here -->
<div class="w3-container w3-padding-64" id="code">
	<h3 class="w3-center">CODE SAMPLES</h3>
	<p class="w3-center w3-large">Samples and Snippets</p>
	<div class="w3-row-padding w3-grayscale" style="margin-top:64px">
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Zekelhuter (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AWordpress_logo_8.png">
					<img style="padding-top: 24px; width: 128px" alt="Wordpress logo 8"
					     src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Wordpress_logo_8.png/256px-Wordpress_logo_8.png"/></a>
				<div class="w3-container">
					<h3>WordPress</h3>
					<p class="w3-opacity">General CMS</p>
					<p>Sample in WordPress</p>
					<p><button class="w3-btn-block">See More More</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By User:ZyMOS [MIT (http://opensource.org/licenses/mit-license.php)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3ARuby_on_Rails-logo.png">
					<img style="padding-top: 24px; width: 107px" alt="Ruby on Rails-logo"
					     src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png"/></a>
				<div class="w3-container">
					<h3>Rails</h3>
					<p class="w3-opacity">Full Stack Development</p>
					<p>Random CMS App.</p>
					<p><button class="w3-btn-block">See More</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Google (https://angular.io/presskit.html) [CC BY 4.0 (http://creativecommons.org/licenses/by/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AAngular_full_color_logo.svg">
					<img style="padding-top: 24px; width: 127px" alt="Angular full color logo"
					     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/256px-Angular_full_color_logo.svg.png"/></a>
				<div class="w3-container">
					<h3>AngularJS</h3>
					<p class="w3-opacity">Simple.Thejorgelopez.com</p>
					<p>This site on AngularJS.</p>
					<p><button class="w3-btn-block">See More</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Feustan (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3ALogoIonic.png">
					<img style="padding-top: 24px; width: 114px" alt="LogoIonic"
					     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/LogoIonic.png/256px-LogoIonic.png"/></a>
				<div class="w3-container">
					<h3>Ionic</h3>
					<p class="w3-opacity">Hybrid Mobile App</p>
					<p>Random Mobile CMS.</p>
					<p><button class="w3-btn-block">See More</button></p>
				
				</div>
			</div>
		</div>
	</div>
</div>
<div class="w3-container w3-white">
	<p><a href="#home" class="w3-btn w3-medium">Back to Top</a></p>
</div>


<!-- Promo | Projects Section here -->
<div class="w3-container w3-light-grey w3-padding-64" id="projects">
	<h3 class="w3-center">JORGE'S WORK</h3>
	<p class="w3-center w3-large">Coming Soon!</p>
	<div class="w3-row">
		<div class="w3-col s4 w3-light-grey w3-center"><p>.</p></div>
		<div class="w3-col s4 w3-light-grey w3-center">
			<div class="w3-card-2">
				<a class="w3-center" href='http://www.freepik.com/free-vector/coming-soon-background-with-spotlight_760445.htm'>
					<img style="width: 100%;" class="w3-center" src="../assets/images/Coming-soon-background-with-spotlight/ComingSoon1-01.jpg" alt="Coming Soon logo. ">
					<br>Designed by Freepik</a>
			</div>
		</div>
		<div class="w3-col s4 w3-light-grey w3-center"><p>.</p></div>
	</div>
</div>
<div class="w3-container w3-light-gray">
	<p><a href="#home" class="w3-btn w3-padding-medium w3-medium">Back to Top</a></p>
</div>
<script src="../assets/js/portfolio.js"></script>